:root {
    --cor-primaria: #011738; 
    --cor-secundaria: #051d35; 
    --cor-terciaria: #adb5bd; 
    --cor-acento: #00d9a5; 
    --cor-fundo: #121212; 
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6; 
    background-color: var(--cor-fundo);
    color: var(--cor-terciaria);
}


.faixaTitulo {
    color: #fff;
    padding: 20px 0;
    text-align: center;
    height: 100px; 
}

.faixaTitulo h1 {
    font-size: 3em;
}

.faixaTitulo .subtitulo {
    font-size: 2em;
}


main {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;

}

.evento, .container, .ProgramacaoEvento, .multimidia {
    margin-bottom: 30px;
    text-align: center;
    padding: 10px;
}

h2 {
    color: var(--cor-primaria);
    margin-bottom: 10px;
}


table {
    width: 100%;
    border-collapse: collapse;
    margin: 10px 0;
}

th, td {
    border: 1px solid var(--cor-secundaria);
    padding: 10px;
    text-align: center;
}

th {
    background: var(--cor-primaria);
    color: #fff;
}


fieldset {
    border: 1px solid var(--cor-primaria);
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 15px;
}

legend {
    font-weight: bold;
    color: var(--cor-primaria);
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="date"],
select,
textarea {
    width: calc(100% - 22px); 
    padding: 10px;
    margin: 10px 0; 
    border: 1px solid var(--cor-secundaria);
    border-radius: 5px;
}

input[type="submit"] {
    background: var(--cor-primaria);
    color: #fff;
    border: none;
    padding: 10px 20px; 
    cursor: pointer;
    border-radius: 5px;
    transition: background 0.3s;
    
}

input[type="submit"]:hover {
    background: #000913; 
}


.multimidia article {
    margin-bottom: 10px;
}

.multimidia iframe {
    width: 100%;
    text-align: center;
}

footer {
    text-align: center;
    padding: 25px 0;
    background: black;
    color: #fff;
    width: 100%;
}


@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }
}
